<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Test EditableMvc</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/editablemvc")
    @Styles.Render("~/Content/editablemvcstyle.css")
    @Styles.Render("~/Content/editablemvcdemostyle.css")
</head>
<body>
<div id="container">
@RenderBody()
</div>
</body>
</html>